<%= form_for(@player) do |f| %>
  <% if @player.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@player.errors.count, "error") %> prohibited this player from being saved:</h2>

      <ul>
      <% @player.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  
  <div class="field">
    <%= f.label :team_id, "Choose a team" %>
    <%= f.select :team_id, Team.all.map{|t| [t.name, t.id]}, { :include_blank => true } %> or Create One <br/>
    
    <input type="text" name="new_team_name">
  </div>
  
  
  
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
